{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-private-methods",
    [
      "babel-plugin-root-import", {
        "paths": [
          { "rootPathPrefix": "@/modules/", "rootPathSuffix": "src/modules/" },
          { "rootPathPrefix": "@/services/", "rootPathSuffix": "src/services/" }
        ]
      }
    ]
  ]
}